@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Merriweather Sans", sans-serif;
  margin: auto;
}
::-webkit-scrollbar {
  width: 0;
}
#layout {
  scroll-behavior: smooth;
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
}
li {
  list-style: none;
}
a {
  font-weight: 100;
  text-decoration: none;
  color: #333;
}

/* 상단부분 */
#top {
  display: flex;
  background: black;
}
#top .logo {
  flex-basis: 150px;
  padding: 10px 20px;
  transition: 0.5s;
}
#top .logo:hover {
  filter: invert(10%) brightness(70%);
}
#top h1 {
  color: white;
  flex: 1;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 3rem;
}
#top nav {
  flex: 0.5;
  color: white;
  text-align: center;
  padding-top: 35px;
}
#top nav > a {
  color: white;
  margin: 0 10px;
  font-size: 1.2rem;
  transition: 0.5s;
}
#top nav > a:hover {
  color: orange;
}

/* 메뉴부분 */
#menu {
  display: flex;
  background: #ddd;
}
#menu nav {
  flex: 0.8;
  display: flex;
  align-items: center;
}
#menu nav a {
  display: block;
  padding: 10px 0 10px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  flex: 1;
  transition: 0.5s;
}
#menu nav a:hover {
  color: orangered;
}
#menu .search {
  margin: auto;
  margin-right: 20px;
  position: relative;
}
#menu .search input {
  border-radius: 20px;
  padding: 5px 40px 5px 40px;
  font-size: 0.8rem;
  margin-left: 50px;
  width: 300px;
  text-align: center;
}
#menu .search button {
  border: none;
  background: none;
  position: absolute;
  top: 10%;
  left: 90%;
  cursor: pointer;
  color: orange;
  font-weight: bold;
  transition: 0.5s;
}
#menu .search button:hover {
  text-shadow: 1px 1px 1px black;
  color: orangered;
}

/* 메인부분 */
main {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

#left {
  flex: 0.5;
}
#left .bigimg {
  width: 600px;
  margin: auto;
}

nav.smallimg {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
nav.smallimg > a {
  margin: auto;
}
nav.smallimg > a > img {
  width: 60px;
  margin: 10px;
}

#right {
  flex: 0.35;
  line-height: 180%;
  padding-top: 80px;
}
#right h3 {
  font-size: 1.5rem;
}
#right h1 {
  font-size: 2rem;
  margin-top: 10px;
  border-bottom: 3px solid black;
  padding-bottom: 15px;
}
#right .product {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddd;
}
#right .sale {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddd;
}
#right .material {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddd;
}
#preview {
  display: flex;
}
#preview p {
  padding-top: 25px;
  font-weight: bold;
}

#preview img {
  width: 70px;
  margin-left: 50px;
}

#number {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 3px solid black;
}
#number p {
  font-weight: bold;
}

#number input {
  margin-left: 35px;
}

#price {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

#price h5 {
  font-size: 1.3rem;
  margin-right: 50px;
}

#price h1 {
  margin-left: 50px;
  font-size: 2rem;
  border: none;
}

#right h3:last-of-type {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}
#sns {
  display: flex;
  justify-content: first baseline;
  margin-top: 30px;
}
#sns a:first-child {
  width: 50px;
}
#sns a:last-child {
  width: 58px;
  margin-left: 10px;
}

/* 아티클 부분 */
article {
  width: 70%;
  margin: auto;
  padding: 50px 0;
  line-height: 180%;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* RELATED ITEMS부분 */
#related {
  width: 78%;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
#related .items {
  position: relative;
  display: flex;
  left: -300px;
}

#related .items img {
  width: 300px;
}
#related .material-symbols-outlined {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
}
.material-symbols-outlined:first-of-type {
  z-index: 1;
  top: 175%;
  left: 7%;
}
.material-symbols-outlined:nth-of-type(2) {
  top: 175%;
  right: 8%;
}

/* 상세정보부분 */
#information {
  text-align: center;
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 50px;
}
#information div {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 150px;
}
#information div:hover,
#information div.act {
  border-bottom: none;
}
#information a {
  transition: 0.2s;
}
#information a:hover,
#information a.act {
  color: orangered;
}

/* 표부분 */
table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 100px;
}
table th {
  background: #ddd;
  width: 20%;
  text-align: start;
  padding-left: 10px;
}
table td {
  padding: 25px 0 25px 10px;
}

#tb2 {
  display: none;
}

#rev {
  display: none;
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 100%;
  margin-bottom: 100px;
}
#rev .button {
  display: inline-block;
  background: #333;
  color: white;
  padding: 15px 35px;
  margin-bottom: 20px;
}
#rev .text {
  margin-top: 50px;
}
#rev span {
  color: orangered;
  font-weight: bold;
  font-size: 1.5rem;
}
/* 푸터부분 */
footer {
  display: block;
  background: #333;
}
footer > div {
  display: flex;
}
footer a {
  display: block;
  line-height: 250%;
  color: white;
}
footer .bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 15px;
  display: block;
  color: white;
  text-align: center;
}
footer .left {
  flex: 1;
  padding-left: 20px;
}
footer a:hover {
  text-decoration: underline;
  color: #ddd;
}
footer .center {
  flex: 1;
}
footer .right {
  flex: 0.5;
  padding: 10px 20px 0 0;
}
