@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Merriweather Sans", sans-serif;
  margin: auto;
}
::-webkit-scrollbar {
  width: 0;
}
#layout {
  scroll-behavior: smooth;
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
}
li {
  list-style: none;
}
a {
  font-weight: 100;
  text-decoration: none;
  color: #333;
}

/* 최상단배너 */
#head {
  background: black;
  padding: 15px;
}
#head a {
  color: white;
  text-align: center;
  transition: 0.5s;
}
#head a:hover {
  color: black;
  text-shadow: 1px 1px 10px white;
}

/* 탑전체 */
#top {
  background: #333;
  display: flex;
  width: 100%;
  margin: auto;
  /* overflow: hidden; */
}
#top .logo {
  flex: 0.18;
  padding: 10px;
  transition: 0.5s;
}
#top .logo:hover {
  filter: invert(10%) brightness(70%);
}
#top .logo img {
  min-width: 70px;
}
#top ul {
  flex: 1.8;
  display: flex;
}
#top ul li {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  z-index: 4;
}
#top button {
  display: none;
}
/* 메뉴부분 */
a.mainMenu {
  padding: 25px;
  flex: 1;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  z-index: 1;
  color: white;
  transition: 0.5s;
}
a.mainMenu:hover,
a.mainMenu.act {
  background: gray;
  color: black;
  font-weight: bold;
}
nav.subMenu {
  width: 333px;
  display: none;
  z-index: 1;
  position: absolute;
  top: 90px;
  left: -20px;
}
nav.subMenu > a {
  background: gray;
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  margin-left: 20px;
  transition: 0.8s;
}
nav.subMenu > a:hover,
nav.subMenu > a.act {
  background: darkgrey;
  color: black;
  font-weight: bold;
}

/* 검색창과 아이콘 */
#top .search {
  margin: auto;
  margin-right: 20px;
  position: relative;
}
#top .search input {
  border-radius: 20px;
  padding: 5px 40px 5px 40px;
  font-size: 0.8rem;
  margin-left: 50px;
  width: 300px;
  text-align: center;
}
#top .search button {
  border: none;
  background: none;
  position: absolute;
  top: 10%;
  left: 90%;
  cursor: pointer;
  color: orange;
  font-weight: bold;
  transition: 0.5s;
  display: inline-block;
}
#top .search button:hover {
  text-shadow: 1px 1px 1px black;
  color: orangered;
}

#top .icons {
  flex-basis: 8%;
  margin: auto;
  display: flex;
  margin-right: 15px;
  background: none;
}
#top .icons > a {
  flex: 0.3;
  margin: auto;
}
#top .icons > a:hover {
  filter: invert(100%) sepia(0) saturate(100%) hue-rotate(520deg)
    brightness(115%) contrast(100%);
}

/* 슬라이드부분 */
#bb {
  width: 100%;
  overflow: hidden;
}
#slide {
  display: flex;
  position: relative;
  width: 300%;
}
#slide img {
  max-width: 100%;
}

/* 배너부분 */
#banner div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#banner a {
  position: relative;
  width: 50%;
  transition: 0.5s;
}
#banner span.material-symbols-outlined {
  position: absolute;
  top: 45%;
  left: 38%;
  color: white;
  width: 160px;
  text-shadow: 1px 1px 1px black;
  font-size: 3rem;
  transition: 0.5s;
  text-align: center;
  opacity: 0;
}
#banner b {
  color: white;
  width: 160px;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  top: 52%;
  left: 38%;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.5s;
  opacity: 0;
}
#banner a:hover img {
  filter: brightness(0.4);
}
#banner a:hover span {
  opacity: 1;
}
#banner a:hover b {
  opacity: 1;
}

/* 푸터부분 */
footer {
  display: block;
  background: #333;
}
footer > div {
  display: flex;
}
footer a {
  display: block;
  line-height: 250%;
  color: white;
}
footer .bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 15px;
  display: block;
  color: white;
  text-align: center;
}
footer .left {
  flex: 1;
  padding-left: 20px;
}
footer a:hover {
  text-decoration: underline;
  color: #ddd;
}
footer .center {
  flex: 1;
}
footer .right {
  flex: 0.5;
  padding: 10px 20px 0 0;
}

/* 반응형 */
@media (max-width: 1000px) {
		  #top ul {
			/*display: none;*/
		  }
		  #top .icons {
			display: none;
		  }
		  #top .search input {
			display: none;
		  }
		  #top .search button {
			display: none;
		  }
		  #top button {
			background: none;
			border: none;
			color: white;
			font-size: 3rem;
			display: block;
			position:absolute; 	
			margin-top:10px; right:10px;
		  }  
		  #top ul {
			  align-items:flex-start;
			  flex-direction:column;			 
			  margin-top:80px;
		  }
		  #top ul li {	   
			   align-items:flex-start;	 
			   flex-direction:column; 
		  }
		  #top ul li>a {
			  display:none;
		  }
		  nav.subMenu {	  	  
			  position:relative;
			  top:0; left:0;

		  }
		 nav.subMenu a {
			 margin-left:0;
			 padding:15px;
		 } 
}
